<!doctype html>
<html lang="en">
  <head>
    <script type="text/javascript" src="https://static.robotwebtools.org/roslibjs/current/roslib.min.js">
	</script>
    <script type="text/javascript" src="https://static.robotwebtools.org/roslibjs/current/roslib.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="http://static.robotwebtools.org/EaselJS/current/easeljs.min.js"></script>
    <script type="text/javascript" src="http://static.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
    <script type="text/javascript" src="http://static.robotwebtools.org/ros2djs/current/ros2d.min.js"></script>

    

    <script type="text/javascript" type="text/javascript">
           /**
            * Setup all visualization elements when the page is loaded.
            */
           function init() {
             // Connect to ROS.
             var ros = new ROSLIB.Ros({
               url : 'ws://localhost:9090'
             });
         
             // Create the main viewer.
             var viewer = new ROS2D.Viewer({
               divID : 'map',
               width : 600,
               height : 500
             });
         
             // Setup the map client.
             var gridClient = new ROS2D.OccupancyGridClient({
               ros : ros,
               rootObject : viewer.scene
             });
             // Scale the canvas to fit to the map
             gridClient.on('change', function(){
              viewer.scaleToDimensions(gridClient.currentGrid.width, gridClient.currentGrid.height);
             });
           }
         </script>
         



    <title>Mappy</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!--     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <link rel="stylesheet" href="snakebar.css">

    <link rel="stylesheet" href="mintyStyle.css">
    <div  class="alert alert-success">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">Mappy</a>
      
        <form class="form-inline">
            <button @click="connect" class="btn btn-sm btn-outline-secondary" type="button">Connect</button>
            <button class="btn btn-sm btn-outline-secondary" type="button">Create Map</button>  
        </form>
      </nav>
    </div>
  </head>
  <body class="bg-light" onload="init()">
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://static.robotwebtools.org/roslibjs/current/roslib.min.js"></script>
    <script src="https://static.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
    <script src="https://static.robotwebtools.org/keyboardteleopjs/current/keyboardteleop.min.js"></script>
    <script src="//yoannmoinet.github.io/nipplejs/javascripts/nipplejs.js"></script>
    <script src="webui.js"></script>

    <!-- SPEED -->
<div class="row">
    <div class="col-md-4"></div>
    <div class=" col-md-4">
        <label for="robot-speed">
            <strong>Robot speed</strong>
        </label>
        <input type="range" min="15" max="80" class="custom-range" id="robot-speed">
    </div>
    <div class="col-md-4"></div>
</div>

<div id="map"></div>

<!-- VIDEO -->
<div class="row my-4">
    <div class="col d-flex justify-content-center">
        <img src="" class="p-1 bg-dark" alt="" id="video" />
    </div>
</div>

<!-- JOYSTICK -->
<div class="row my-4">
    <div class="col">
        <div class="d-flex justify-content-center" style="width: 210px; height: 210px;">
            <div id="joystick"></div>
        </div>
    </div>
</div>


<div id="app" class="container">
    <div class="jumbotron">
        <h1>Hello from ROSDS!</h1>
    </div>

    <div class="row" style="max-height:200px;">
        <div class="col-md-6">
            <h3>Connection status</h3>

            <p class="text-success" v-if="connected">Connected!</p>
            <p class="text-danger" v-else>Not connected!</p>
            <label>Websocket server address</label>
            <input type="text" v-model="ws_address" />                            <br />
            

            <button @click="disconnect" class="btn btn-danger" v-if="connected">Disconnect!</button>
            <button @click="connect" class="btn btn-success" v-else>Connect!</button>

        </div>
        <div class="col-md-6" style="max-height:200px; overflow:auto;">
            <h3>Log messages</h3>
            <div>
                <p v-for="log in logs">
                    {{ log }}
                </p>
            </div>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-12 text-center">
            <h5>Commands</h5>
        </div>
<!-- 1st row -->
<div class="col-md-12 text-center">
    <button @click="forward"  class="btn btn-primary">Go forward</button>
    <br><br>
</div>

<!-- 2nd row -->
<div class="col-md-4 text-center">
    <button @click="turnLeft"  class="btn btn-primary">Turn left</button>
</div>
<div class="col-md-4 text-center">
    <button @click="stop"  class="btn btn-danger">Stop</button>
    <br><br>
</div>
<div class="col-md-4 text-center">
    <button @click="turnRight"  class="btn btn-primary">Turn right</button>
</div>

<!-- 3rd row -->
<div class="col-md-12 text-center">
    <button @click="backward"  class="btn btn-primary">Go backward</button>
</div>

    </div>
</div>

<!-- INFO -->
<div class="row my-4">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="alert alert-success">
            <h4 class="alert-heading">Mappy demo</h4>
            <ul>
                <li>set speed using a slider</li>
                <li>use joystick or WASD keys on keyboard to move </li>
            </ul>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<div id="snackbar"><p v-for="log in logs">
    {{ log }}
</p></div>

<script type="text/javascript" src="main.js">
</script>
</body>
</html>